{
  "openapi": "3.0.3",
  "info": {
    "title": "Gymanager API",
    "description": "descrição do projeto",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://nestrab.turivius-showroom.com/api"
    }
  ],
  "tags": [
    {
      "name": "dashboard",
      "description": "Dashbaords dos processos trabalhistas"
    }
  ],
  "paths": {
    "/dashboard": {
      "get": {
        "tags": [
          "dashboard"
        ],
        "summary": "Buscar dados trabalhistas para a montagem do dashboard geral",
        "description": "Get processos trabalhistas",
        "operationId": "getProcesses",
        "parameters": [
          {
            "in": "query",
            "name": "entity",
            "schema": {
              "type": "integer"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "vara",
            "schema": {
              "type": "integer"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "subject",
            "schema": {
              "type": "integer"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "lawyer_company",
            "schema": {
              "type": "integer"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "lawyer_employee",
            "schema": {
              "type": "integer"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "date_range",
            "schema": {
              "type": "integer"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "result",
            "schema": {
              "type": "integer"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "processo_duration",
            "schema": {
              "type": "integer"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/dashboard/acordaos": {
      "get": {
        "tags": [
          "dashboard"
        ],
        "summary": "Listar acórdãos de acordo com a query do dashboard",
        "description": "Get acórdãos",
        "operationId": "getAcordaos",
        "parameters": [
          {
            "in": "query",
            "name": "entity",
            "schema": {
              "type": "integer"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "vara",
            "schema": {
              "type": "integer"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "subject",
            "schema": {
              "type": "integer"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "lawyer_company",
            "schema": {
              "type": "integer"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "lawyer_employee",
            "schema": {
              "type": "integer"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "date_range",
            "schema": {
              "type": "integer"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "result",
            "schema": {
              "type": "integer"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "processo_duration",
            "schema": {
              "type": "integer"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "health"
        ],
        "summary": "Checar disponibilidade do serviço",
        "description": "Checar disponibilidade do serviço",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  }
}